#chats {
    padding: 0;
}

#new-chat, .chat {
    padding: 10px 24px;
}

#new-chat:hover, .chat:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #eee;
}

#new-chat-button {
	width: 40px;
	height: 40px;
}

#new-chat-icon {
	margin-left: calc(50% - 12px);
}

.image {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.text {
    margin-left: 15px;
}