<nav>
    <div class="nav-wrapper white">
        <a href="#" class="logo blue-text">InteractED</a>
        <form id="search-form" class="hide-on-small-only">
            <div class="input-field">
                <input id="search" type="search" placeholder="Buscar" class="autocomplete">
                <label class="label-icon" for="search"><i class="material-icons" id="search-icon">search</i></label>
                <i class="material-icons" id="search-close-icon">close</i>
            </div>
        </form>
        <ul class="right">
            <li><a href="login" id="login" class="waves-effect btn-flat blue-text">Acceder</a></li>
        </ul>
    </div>
</nav>