.logo {
    font-size: 2rem;
    font-family: and_black;
    padding-left: 10px;
}

.valign-modal {
    transform: translateY(-50%) !important;
}

#image-create-preview {
    width: 300px !important;
    height: 300px !important;
}

#image-create-preview > img {
    margin: auto;
}

#image-create-lengths {
	margin-left: 20px;
}

.adjust-width {
    max-width: 100%;
}

.adjust-height {
    max-height: 100%;
}