.logo {
    font-size: 2rem;
    font-family: and_black;
    padding-left: 10px;
}

.valign-modal {
    transform: translateY(-50%) !important;
    max-height: 100% !important;
}

#image-create-preview {
    width: 300px !important;
    height: 300px !important;
}

#image-create-preview > img {
    margin: auto;
}

#image-create-lengths {
	margin-left: 20px;
}

.selected {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adjust-width {
    max-width: 100%;
}

.adjust-height {
    max-height: 100%;
}

.handle {
    display: inline-block;
    width: 5px !important;
    height: 5px !important;
    bottom: -5px;
    right: -5px;
    background: blue;
}