@import "../../css/font.css";

:root {
    --placeholder-color: #a0a0a0
}

nav .logo {
    display: inline-block;
    position: absolute;
    width: 15%;
    text-align: center;
    font-size: 2rem;
    font-family: and_black;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    nav .logo {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {
    nav .logo {
        margin-left: 5%;
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--placeholder-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--placeholder-color);
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--placeholder-color);
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholder-color);
}

#search:focus, #mobile-search input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

#search {
    color: black;
    background-color: #e5e5e5;
    border-radius: 4px;
}

#search-form {
    display: inline-block;
    height: calc(100% - 20px);
    width: 70%;
    margin-left: 15%;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    #search-form {
        width: 60%;
        margin-left: 20%;
    }
}

#search-icon {
    margin-top: -22px;
    color: #8e8e8e;
}

.input-field input[type=search]:focus ~ #search-close-icon {
    color: #8e8e8e !important;
}

#search-close-icon {
    margin-top: -10px;
}

@media only screen and (max-width: 600px) {
    #login {
        margin-right: 0;
    }
}

.option:hover {
    cursor: pointer;
    cursor: hand;
}

.notification-box {
    transform: translateY(-10px);
    width: 480px;
    max-height: 448px;
}

.notification-box-title {
    font-size: 1.2rem;
    margin-left: 16px;
}

.notification-box-icon {
    margin-left: auto;
    margin-right: 16px;
    color: #959595;
}

.notification-wrapper {
    display: flex;
}

.notification-wrapper:hover > .notification-options {
    display: block !important;
}

.notification-user {
    width: 48px;
    height: 48px;
    margin: 12px 16px 0 16px;
}

.notification-text {
    width: 50%;
    white-space: pre-wrap;
}

.notification-image {
    width: 80px;
    height: 45px;
    margin: auto 16px;
}

.notification-options {
    display: none !important;
    color: #959595;
}

.notification-options:hover {
    color: #3F3F3F;
}