<div class="divider"></div>
<p><strong>Califica este post:</strong></p>
<fieldset class="rating">
    <a id="reset" class="btn-flat blue-text waves-effect right">Restablecer</a>

    <input type="radio" id="star5" name="rating" value="5" />
    <label for="star5" title="Muy bueno - 5 estrellas"><i class="material-icons">star</i></label>

    <input type="radio" id="star4" name="rating" value="4" />
    <label for="star4" title="Bueno - 4 estrellas"><i class="material-icons">star</i></label>

    <input type="radio" id="star3" name="rating" value="3" />
    <label for="star3" title="Ni bueno ni malo - 3 estrellas"><i class="material-icons">star</i></label>

    <input type="radio" id="star2" name="rating" value="2" />
    <label for="star2" title="Malo - 2 estrellas"><i class="material-icons">star</i></label>

    <input type="radio" id="star1" name="rating" value="1" />
    <label for="star1" title="Muy malo - 1 estrella"><i class="material-icons">star</i></label>
</fieldset>
<br><br>